<div class="container">
    <h2>{{titleProjects}}</h2>
    <ul>
        @for (item of arrayProjects(); track item) {
            <li>
                <button [matTooltip]="item.title.toString()" (click)="openDialog(item)" >
                    <img 
                    [src]="item.src" 
                    [alt]="item.alt" 
                    [attr.width]="item.width" 
                    [attr.heght]="item.height" 
                    loading="lazy" 
                    />
                </button>
            </li>
        }
    </ul>
</div>